body{
    background: url(../images/bg.png) no-repeat center center fixed;
    background-size: cover;
    height:100%;
    overflow: hidden;
}
.head,.pc-img{
    width:100%;
}
.head .pc-head{
    margin-top:70px;
    padding:0 230px;
}
.head .pc-head .pc-logo{
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
    max-width:70px;
}
.head .pc-head .pc-txt{
    display: inline-block;
    color:#fff;
    font-size: 16px;
    letter-spacing: 2px;
}
.pc-img{
    margin-top: 100px;
}
.pc-img .hand_2{
    max-width:36%;
    display:inline-block;
    margin-right:10%;
    vertical-align: middle;
}
.pc-img .pc-right p{
    color:#fff;
    font-size:28px;
    line-height: 60px;
    letter-spacing: 3px;
}
.pc-img .pc-right{
    display:inline-block;
    width:52%;
    padding-top:80px;
    vertical-align: top;
}
.pc-img .pc-right a{
    display:inline-block;
    vertical-align: top;
    margin-top:60px;
    margin-right:25px;
    width:230px;
}
.pc-img .pc-right a img{
    max-width:100%;
}
.pc-img .pc-right .wechat-btn{
    position: relative;
}
.pc-img .pc-right .wechat-btn .wechat_code{
    max-width:220px;
    position: absolute;
    left:5px;
    top:65px;
    display:none;
}
.pc-img .pc-right .wechat-btn .wechat_code.active{
    display: block;
}

